body,
html {
	width: 100%;
	height: 100%;
}

body,
p {
	color: #4d5055;
	font: 400 1rem/1.625rem "Open Sans", sans-serif;
	
}

h1 {
	color: #24262a;
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 3.25rem;
	font-family: "Poppins"
}

h2 {
	color: #24262a;
	font-weight: 700;
	font-size: 2rem;
	line-height: 2.5rem;
	font-family: "Poppins"
}

h3 {
	color: #24262a;
	font-weight: 700;
	font-size: 1.75rem;
	line-height: 2.25rem;
	font-family: "Poppins"
}

h4 {
	color: #24262a;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2rem;
	font-family: "Poppins"
}

h5 {
	color: #24262a;
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.625rem;
	font-family: "Poppins"
}

h6 {
	color: #24262a;
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.375rem;
	font-family: "Poppins"
}

.p-large {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.p-small {
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.testimonial-text {
	font-style: italic;
}

.testimonial-author {
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.5rem;
}

.li-space-lg li {
	margin-bottom: 0.5rem;
}

a {
	color: #4d5055;
	text-decoration: underline;
}

a:hover {
	color: #4d5055;
	text-decoration: underline;
}

.no-line {
	text-decoration: none;
}

.no-line:hover {
	text-decoration: none;
}

.blue {
	color: #2259ec;
}

.bg-gray {
	background-color: #f7f9fb;
}

.section-divider {
	display: block;
	height: 1px;
	margin: 0;
	border: none;
	background-color: #d3dae2;
}

.btn-solid-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #0b36a8;
	background-color: #0b36a8;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-reg:hover {
	background-color: transparent;
	color: #0b36a8;
	/* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid hsl(147, 95%, 36%);
	background-color: hsl(147, 95%, 36%);
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	background-color: transparent;
	color: #0b36a8;
	/* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #24262a;
	background-color: transparent;
	color: #24262a;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-reg:hover {
	background-color: #24262a;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid #24262a;
	background-color: transparent;
	color: #24262a;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-lg:hover {
	background-color: #24262a;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-sm {
	display: inline-block;
	padding: 1rem 1.5rem 1rem 1.5rem;
	border: 1px solid #24262a;
	background-color: transparent;
	color: #24262a;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-sm:hover {
	background-color: #24262a;
	color: #ffffff;
	text-decoration: none;
}

.form-group {
	position: relative;
	margin-bottom: 1.25rem;
}

.label-control {
	position: absolute;
	top: 0.875rem;
	left: 1.5rem;
	color: #7d838a;
	opacity: 1;
	font-size: 0.875rem;
	line-height: 1.375rem;
	cursor: text;
	transition: all 0.2s ease;
}

.form-control-input:focus+.label-control,
.form-control-input.notEmpty+.label-control,
.form-control-textarea:focus+.label-control,
.form-control-textarea.notEmpty+.label-control {
	top: 0.125rem;
	color: #4d5055;
	opacity: 1;
	font-size: 0.75rem;
	font-weight: 700;
}

.form-control-input,
.form-control-select {
	display: block;
	/* needed for proper display of the label in Firefox, IE, Edge */
	width: 100%;
	padding-top: 1.125rem;
	padding-bottom: 0.125rem;
	padding-left: 1.5rem;
	border: 1px solid #cbcbd1;
	background-color: #ffffff;
	color: #4d5055;
	font-size: 0.875rem;
	line-height: 1.875rem;
	transition: all 0.2s;
	
	/* removes inner shadow on form inputs on ios safari */
}

.form-control-select {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	height: 3.25rem;
	color: #7d838a;
}

select {
	/* you should keep these first rules in place to maintain cross-browser behavior */
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;

	background-position: 96% 50%;
	background-repeat: no-repeat;
	outline: none;
}

.form-control-textarea {
	display: block;
	/* used to eliminate a bottom gap difference between Chrome and IE/FF */
	width: 100%;
	height: 14rem;
	/* used instead of html rows to normalize height between Chrome and IE/FF */
	padding-top: 1.5rem;
	padding-left: 1.3125rem;
	border: 1px solid #cbcbd1;
	background-color: #ffffff;
	color: #4d5055;
	font-size: 0.875rem;
	line-height: 1.5rem;
	transition: all 0.2s;
}

.form-control-input:focus,
.form-control-select:focus,
.form-control-textarea:focus {
	border: 1px solid #a1a1a1;
	outline: none;
	/* Removes blue border on focus */
}

.form-control-input:hover,
.form-control-select:hover,
.form-control-textarea:hover {
	border: 1px solid #a1a1a1;
}

.checkbox {
	font-size: 0.75rem;
	line-height: 1.25rem;
}

input[type='checkbox'] {
	vertical-align: -10%;
	margin-right: 0.5rem;
}

.form-control-submit-button {
	display: inline-block;
	width: 100%;
	height: 3.25rem;
	border: 1px solid #0b36a8;
	border-radius: 32px;
	background-color: #0b36a8;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	cursor: pointer;
	transition: all 0.2s;
}

.form-control-submit-button:hover {
	border: 1px solid #24262a;
	background-color: transparent;
	color: #24262a;
}



.navbar {
	background-color: #24262a;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.025);
}

.navbar .navbar-brand {
	padding-top: 1.3rem;
	padding-bottom: 0.125rem;
}

.navbar .logo-image img {
	width: 118px;
	height: 36px;
}

.navbar .logo-text {
	color: #ffffff;
	font-weight: 700;
	font-size: 1.875rem;
	line-height: 1rem;
	text-decoration: none;
}



.navbar .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar .nav-item .nav-link {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	color: #ffffff;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
	color: #9c9ead;
}



.navbar .fa-stack {
	width: 2em;
	margin-right: 0.25rem;
	font-size: 0.75rem;
}

.navbar .fa-stack-2x {
	color: #0b36a8;
	transition: all 0.2s ease;
}

.navbar .fa-stack-1x {
	color: #ffffff;
	transition: all 0.2s ease;
}

.navbar .fa-stack:hover .fa-stack-2x {
	color: #ffffff;
}

.navbar .fa-stack:hover .fa-stack-1x {
	color: #0b36a8;
}

.navbar .navbar-toggler {
	padding: 0;
	border: none;
	font-size: 1.25rem;
}



.header {
	padding-top: 7rem;
	padding-bottom: 5.5rem;
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../img/fondo.jpg') center center no-repeat;
	background-size: cover;
	text-align: center;
}

.header .h1-large {
	margin-bottom: 1.75rem;
	color: #ffffff;
	text-align: left;
}

.header .btn-solid-lg:hover {
	border: 1px solid #ffffff;
	color: #ffffff;
}

.header .btn-outline-lg {
	padding: 1.625rem 1.625rem 1.625rem 1.625rem;
	border: none;
	color: #ffffff;
}

.header .btn-outline-lg:hover {
	background: transparent;
	color: #9c9ead;
	text-decoration: none;
}

.header .btn-outline-lg .fas {
	margin-right: 0.375rem;
}






.basic-2 {
	padding-top: 7.75rem;
	padding-bottom: 5.25rem;
}

.basic-2 .h2-heading {
	margin-bottom: 0.75rem;
	text-align: center;
}

.basic-2 .p-heading {
	margin-bottom: 4rem;
	text-align: center;
}

.basic-2 .text-box {
	margin-bottom: 3rem;
	padding: 3.5rem 1rem 2.125rem 1rem;
	border: 1px solid #cfd7de;
}

.basic-2 .fas,
.basic-2 .far {
	margin-bottom: 1.75rem;
	color: #0b36a8;
	font-size: 3.5rem;
}

.basic-2 h4 {
	letter-spacing: 1px;
}









@media (min-width: 768px) {

	
	.header {
		padding-top: 11rem;
		padding-bottom: 9rem;
	}

	


	.basic-2 .text-box {
		padding-right: 2.125rem;
		padding-left: 2.125rem;
	}

	


	
	.ex-basic-1 .text-box {
		padding: 1.75rem 2rem 0.875rem 2rem;
	}

}

/* end of min-width 768px */


/* Min-width 992px */
@media (min-width: 992px) {

	/* General Styles */
	.h2-heading {
		width: 35.25rem;
		margin-right: auto;
		margin-left: auto;
	}

	.p-heading {
		width: 46rem;
		margin-right: auto;
		margin-left: auto;
	}

	.navbar {
		padding-top: 1.75rem;
		background-color: transparent;
		box-shadow: none;
		transition: all 0.2s;
	}

	.navbar.top-nav-collapse {
		padding-top: 0.5rem;
		padding-top: 0.5rem;
		background-color: #24262a;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.025);
	}

	.offcanvas-collapse {
		position: static;
		top: auto;
		bottom: auto;
		left: auto;
		width: auto;
		padding-right: 0;
		padding-left: 0;
		padding-top: 0.9rem;
		background-color: transparent;
		overflow-y: visible;
		visibility: visible;
	}

	.offcanvas-collapse.open {
		-webkit-transform: none;
		transform: none;
	}

	.navbar .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}

	.navbar .nav-item .nav-link {
		padding-right: 0.625rem;
		padding-left: 0.625rem;
	}

	.navbar .dropdown-menu {
		margin-top: 0.25rem;
		box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.08);
	}

	.navbar .dropdown-divider {
		width: 90%;
	}

	.navbar .social-icons {
		margin-left: 0.5rem;
	}

	.navbar .fa-stack {
		margin-right: 0;
		margin-left: 0.25rem;
	}





	.header {
		padding-top: 15rem;
		padding-bottom: 14rem;
		text-align: left;
	}





	.split {
		height: 760px;
	}

	.split .area-1 {
		height: 100%;
		width: 50%;
		display: inline-block;
	}

	.split .area-2 {
		height: 100%;
		width: 50%;
		display: inline-block;
		vertical-align: top;
	}

	.split .text-container {
		width: 400px;
		margin-left: 3rem;
	}

}





@media (min-width: 1200px) {

	.h1-large {
		font-size: 3.75rem;
		line-height: 4.625rem;
	}




	.navbar .container {
		max-width: 1330px;
	}


	.header {
		padding-top: 18.25rem;
		padding-bottom: 17.25rem;
	}



}

